*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: #fff;
  color: #000;
  font-size: 15px;
  line-height: 1.5;
}

a {
  color: #262626;
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  width: 90%;
  max-width: 1500px;
  margin: auto;
}

.main-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  padding: 20px 0;
  font-size: small;
}

.main-menu {
  display: flex;
  flex: 1;
  padding-left: 20px;
  padding-top: 5px;
}

.main-menu li {
  padding: 0 15px;
}

.main-menu li a:hover {
  border-bottom: 1.5px solid #272727;
}

.side-menu {
  display: flex;
}
.side-menu li {
  padding:  0 10px;
}

.logo {
  width: 110px;
}

.landing-show{
  height: 450px;
  background: url(img/landing-photo.avif);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.landing-show h3{
  font-size: 3em;
  font-weight: 400;
  padding-top: 150px;
  padding-left: 100px;
}

.landing-show p{
  font-size: 15px;
  padding-left: 0;
  width: 400px;
  padding-bottom: 15px;
}

.landing-btn{
  padding-left: 0;
}
.btn-one-person{
  cursor: pointer;
  display: inline-block;
  border: 0;
  font-weight: bold;
  padding: 10px 20px;
  background: #0067b8;
  color: #fff;
  font-size: 15px;;
}

.btn-one-person:hover{
  opacity: 0.9;
}

.btn-six-person{
  font-size: medium;
  cursor: pointer;
  font-weight: bolder;
  margin-left: 20px;

}

.btn-six-person:hover{
  border-bottom: 1.5px solid #272727;
}



.icon-links{
  width: 70%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding-top: 100px;;
}

.icon-links div{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon-links div img{
  width: 40px;
  padding-bottom: 15px;
}

.icon-links div a{
  text-decoration: underline;
  color: #0067b8;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
  width: 90%;
  margin: auto;
}

.cards img {
  width: 100%;
  padding-top: 100px;
  margin-bottom: 20px;
}

.cards h3{
  margin-bottom: 10px;
  font-size: 25px;
  font-weight: 1px;
}

.cards a{
  margin-top: 30px;
  color: #0067b8;

}

.cards a:hover{
  text-decoration: underline;
}

.cards p{
  font-size: 1.1rem;
  margin-bottom: 20px;
}